<%- include('partials/header.ejs') %>

<div id="create-edit min-vh-100" class="my-5">
    <div class="container">
        <div class="row justify-content-center">
    <% if (locals.postId) { %>
        <div class="content col-12 col-xxl-8 col-xl-8 p-4">
        <h1 class="heading-custom">Edit Post</h1>
        <form action="/update" method="POST">
            <input class="form-control dark-form my-4" type="text" name="title" placeholder="Title of the Blog" value="<%= title %>" required>
            <textarea class="form-control dark-form my-4" id="content" name="content" placeholder="Content of the Blog" cols="30" rows="18" placeholder="Content" style="resize: none;"><%= content %></textarea>
            <input hidden type="text" name="index" value="<%= postId %>">
            <div class="text-end m-1">
                <input class="btn fs-5 btn-lg my-4 button-custom" type="submit" value="Update Post">
            </div>
        </form>
    </div>
    <% } else{%>
        <div class="content col-14 col-xxl-8 col-xl-8 p-4 p-4">
            <h1 class="heading-custom">Create Post</h1>
            <form action="/save" method="POST">
                <input class="form-control dark-form my-4" type="text" name="title" placeholder="Title of the Blog" required>
                <textarea class="form-control dark-form" id="content" name="content" cols="30" rows="18" style="resize: none;" placeholder="Content of the Blog"></textarea>
                <div class="text-end m-2">
                    <input class="btn fs-5 btn-lg my-3 button-custom" type="submit" value="Create Post">
                </div>
            </form>
        </div>
            <% } %>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>